body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cardcontainer {
 
 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 0 ;
    background-image: url("../assets/download (1).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;  
      
}   
.card-header{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;  
    margin: 30px 0 ;  
    display: flex;
    justify-content: center;
    align-items: center;  
    
    
}   
.card-body{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
    
}
.head2{
        
        background-color:red;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;  
        width: 100%;
}
.head{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer; 
    margin: 30px 0 ;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.head:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;    
}
.cardcontainer:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;    
}
    