
/*.app-container{
  background-color: lightgray;
  padding: 20px;    
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  color: white;
  font-size: 20px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.quiz-container{
  background-color: rgba(0, 0, 0, 0.4);
  
  padding: 20px;
  margin: 20px;     
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  color: lightblue;
  font-size: 20px;
  border: 1px solid gray;
  overflow: hidden;
  width: 95%;
  max-width: 900px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.answer{
  color: lightgreen;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  font-weight: bold;
  transition: all 0.3s ease;
}

.question{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
    
}
.option{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  
}
.option:hover{
  background-color: gray;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px gray;
  
}
.answer:hover{
  background-color: gray;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px gray;
}
.question:hover{
  background-color: gray;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px gray;
}
.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
} 
.verify{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  font-size: 20px;
  transition: all 0.3s ease;
  width: 100px;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.verify:hover{
  background-color: white;
  color: gray;
  transform: scale(1.1);
  box-shadow: 0 0 10px gray;
  
}
.result{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.app-container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-color: gray;
  color: white; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;  
  
}
.list-group{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  list-style-type: decimal;
  display: block;
}
.list-group-item{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: disc;
  display: block;
}
.input-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;   
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.todo-list{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  

}
.form-control{
  width: 50%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  transition: all 0.3s ease;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  
}
.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;  
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 4px 4px 10px gray;
  flex-wrap: wrap;
  gap: 20px;  
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  
  
}
 
.btn2{
  color: violet;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}
.btn2:hover{
  background-color: white;
  color: gray;
  transform: scale(1.1);
  box-shadow: 0 0 10px gray;
  
  
}
.item{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  font-size: 20px;
  width: 100%;
  
}
ul{
  list-style-type: decimal;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
} */
